<h1> Informations requête </h1>
<ul class="list-group">
    <li class="list-group-item"> type : {{ request.type.description | translate }}</li>
    <li class="list-group-item"> status: {{request.status.name | translate}} </li>
    <li class="list-group-item"> ref. commune : {{ request.municipalityRef }} </li>
    <li class="list-group-item"> ref. utilisateur : {{ request.userRef }} </li>
</ul>

<h2> Informations du véhicule </h2>

<ul class="list-group">
    <li class="list-group-item"> Marque : {{ carData['citizenParkingCardCarMake'] }}</li>
    <li class="list-group-item"> Modèle : {{ carData['citizenParkingCardCarModel'] }}</li>
    <li class="list-group-item"> Couleur : {{ carData['citizenParkingCardCarColour'] }}</li>
    <li class="list-group-item"> Couleur : {{ carData['citizenParkingCardPlateNumber'] }}</li>
</ul>


<br>