<h1> Informations requête </h1>
<ul class="list-group">
    <li class="list-group-item"> type : {{ request.typeDescription | translate }}</li>
    <li class="list-group-item"> status: {{request.status.name | translate}} </li>
    <li class="list-group-item"> ref. commune : {{ request.municipalityRef }} </li>
    <li class="list-group-item"> ref. utilisateur : {{ request.userRef }} </li>
</ul>

<h2> Informations du véhicule </h2>

<ul class="list-group">
    <li class="list-group-item"> Marque : {{ carData[company ? 'companyParkingCardCarMake': 'citizenParkingCardCarMake'] }}</li>
    <li class="list-group-item"> Modèle : {{ carData[company ? 'companyParkingCardCarModel':'citizenParkingCardCarModel'] }}</li>
    <li class="list-group-item"> Couleur : {{ carData[company ? 'companyParkingCardCarColour': 'citizenParkingCardCarColour'] }}</li>
    <li class="list-group-item"> Matricule : {{ carData[company ? 'companyParkingCardPlateNumber' : 'citizenParkingCardPlateNumber'] }}</li>
    <li *ngIf="company" class="list-group-item">Utilisateur: {{carData['companyParkingCardUserFirstName'] + ' ' + carData['companyParkingCardUserLastName']}} </li>


    <li class="list-group-item" *ngIf="hasGreenCardFile()" > Carte d'assurance :<a href="javascript:;"(click)="downloadFile(company?'companyParkingCardGreenCard' : 'citizenParkingCardGreenCard')"> Télécharger </a></li>    
    <li class="list-group-item" *ngIf="hasUserProofFile()" > Preuve de titularité de l'utilisateur :<a href="javascript:;"(click)="downloadFile(company?'companyParkingCardUserProof' : 'citizenParkingCardUserProof')"> Télécharger </a></li>    


</ul>

<br>