<div class="container">
    <div>
        <span>Nom : </span>{{citizen.lastName}}</div>
    <div>
        <span>Prénom : </span>{{citizen.firstName}}</div>
    <div>
        <span>{{'birthdate' | translate}} : </span>{{citizen.birthdate | date:"dd/MM/yyyy"}}</div>
    <div>
        <span>{{ 'nationalRegisterNumber' | translate}} : </span>{{citizen.nationalRegisterNb}}</div>
    <div>
        <span>{{'address' | translate}} : </span>{{citizen.address.street}} {{citizen.address.streetNb}}, {{citizen.address.municipality}}</div>
    <div>
        <span>{{'address.email' | translate}} : </span>{{citizen.mail}}</div>
</div>