<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
    <div th:fragment='common-head'>
        <meta charset='utf-8'/>
        <style>
        	table {
        		width: 100%;
        	}
        	td {
			    border: 1px solid #dddddd;
			    text-align: left;
			    padding: 8px;
			}
        </style>
    </div>
</head>
<body th:inline="text">
<div th:fragment="base-message-header">
<table>
	<tr>
		<td th:text="${municipality.name}"></td>
		<td th:text="${util.formatName(officer)}"></td>
	</tr>
	<tr>
		<td>   </td>
		<td th:text="${department.name}"></td>
	</tr>
	<tr>
		<td >[[${util.getAddressLine1(municipality.address)}]]<br/>
			[[${util.getAddressLine2(municipality.address)}]]
		</td>
		<td>[[${util.getAddressLine1(department.address)}]] <br/>
			[[${util.getAddressLine2(department.address)}]]
		</td>
	</tr>
	<tr>
		<td th:text="${municipality.phone}"></td>
		<td th:text="${department.phoneNumber}"></td>
	</tr>
	<tr>
		<td th:text="${municipality.email}"></td>
		<td th:text="${department.email}"></td>
	</tr>
</table>
<br/>
<table>
	<tr>
		<td>Votre référence : </td>
		<td>Notre référence : </td>
		<td>Réference Hermès : </td>
	</tr>
	<tr>
		<td th:text="${#strings.toString(request.userRef)}"></td>
		<td th:text="${#strings.toString(request.municipalityRef)}"></td>
		<td th:text="${#strings.toString(request.systemRef)}"></td>
	</tr>
</table>
<br/>
CONCERNE : [[${title}]]
<br/>
Le [[${util.format(date)}]]
<br/>
<br/>
Madame, Monsieur,
<br/>
<br/>
</div>

<div th:fragment="base-message-footer">
<br/>
<br/>
Je vous prie d'agréer, Madame, Monsieur, l'expression de nos sentiments distingués.
<br/>
<br/>
<br/>
<table th:fragment="base-message-footer-table">
	<tr>
		<td th:text="${municipality.mayorName}"></td>
		<td th:text="${util.formatName(department.manager)}"></td>
	</tr>
	<tr>
		<td>Bourgmestre de la commune de <br/> [[${municipality.name}]]</td>
		<td>Service [[${department.name}]]</td>
	</tr>
</table>
</div>
</body>
</html>