<div class="col-md-9 col-md-offset-3">
	<h1> {{ 'employee_dashboard' | translate }} </h1>
	<div class="container">
		<table *ngIf="(serviceRequests$ | async)?.length; else noRequests" class="table table-striped">
			<thead>
				<tr>
                    <th scope="col">{{'type' | translate}}</th>
                    <th scope="col">{{'reference' | translate}}</th>
					<th scope="col">{{'requestDate' | translate}}</th>
					<th scope="col">{{'status' | translate}}</th>
                    <th scope="col">{{'assignee' | translate}}</th>
                    <th></th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let request of (serviceRequests$ | async)">
                    <td scope="row">{{request.type.description | translate}}</td>
                    <td> {{ request.userRef }}</td>
                    <td> ** TODO **</td>
                    <td> {{ request.status.name | translate }}</td> 
                    <td> {{ request.assignee.firstName + ' ' + request.assignee.lastName }} </td>
                    <td><button class="btn btn-success" (click)="selectedRequest = request">{{'details'| translate}}</button></td>
                    <td><button class="btn btn-success" [disabled] = "request.assignee" (click)="assign(request)">{{'assignThisRequest'| translate}}</button></td>
				</tr>
			</tbody>
		</table>
		<ng-template #noRequests>
			<div>Votre service n'a pas encore reçu des demandes</div>
        </ng-template>

        <div *ngIf="selectedRequest">
            <request-detail [request]="selectedRequest" [displayEmployeeActions]="true"></request-detail>
        </div>
        
	</div>

</div>