<div class="container">
    <citizen-detail *ngIf="citizen" [citizen]="citizen"></citizen-detail>
    <nationality-request-data *ngIf="citizen && request && request.type.description === 'nationalityCertificate'" [request]="request" [citizen]="citizen"></nationality-request-data>
    <parking-request-data *ngIf=" request && request.type.description === 'citizenParkingCard'" [request]="request" ></parking-request-data>
    <div *ngIf="displayEmployeeActions">
        <h2> Actions </h2>
        <select class="custom-select" [(ngModel)]="selectedAction">
            <option *ngFor="let action of possibleActions" [value]="action">{{ action | translate }}</option>
        </select>
        <button class="btn btn-primary" [disabled]="!selectedAction" (click)="performAction"> OK </button>
    </div>
</div>