<div class="container">
    <h2> {{ 'citizenData' | translate }}</h2>        
    <citizen-detail *ngIf="citizen" [citizen]="citizen"></citizen-detail>
    <nationality-request-data *ngIf="citizen && request && request.typeDescription === 'nationalityCertificate'" [request]="request" [citizen]="citizen"></nationality-request-data>
    <parking-request-data *ngIf=" request && request.typeDescription === 'citizenParkingCard'" [request]="request" ></parking-request-data>

    <request-history [request]="request"></request-history>
    <document-details *ngIf="request.status.name == 'accepted' || request.status.name == 'rejected'" [request]="request"></document-details>
    <nrn-details [citizen]="citizen"></nrn-details>

    <div [hidden]="!displayEmployeeActions || request.status.name === 'accepted' || request.status.name === 'rejected'">        
        <h2> Actions </h2>
        <span [hidden]="request.assignee"> Pour effectuer une action, veuillez assigner la demande d'abord </span>
        <select class="custom-select" [(ngModel)]="selectedAction" [disabled]="! request.assignee">
            <option *ngFor="let action of possibleActions" [value]="action">{{ action | translate }}</option>
        </select>
        <button class="btn btn-primary" [disabled]="!selectedAction" (click)="performAction()" [disabled]="!request.assignee"> OK </button>
    </div>
</div>