<div class="starter-template">
    <h2 [hidden]="company"> {{ 'citizenData' | translate }}</h2>        
    <h2 [hidden]="!company"> {{ 'requestorData' | translate }}</h2>        
    <citizen-detail *ngIf="citizen" [citizen]="citizen"></citizen-detail>
    <nationality-request-data *ngIf="citizen && request && request.typeDescription === 'nationalityCertificate'" [request]="request" [citizen]="citizen"></nationality-request-data>
    <parking-request-data *ngIf=" request && (request.typeDescription === 'citizenParkingCard' || request.typeDescription === 'companyParkingCard') " [request]="request" ></parking-request-data>

    <request-history [request]="request"></request-history>
    <document-details *ngIf="request.status.name == 'accepted' || request.status.name == 'rejected'" [request]="request"></document-details>
    <nrn-details [citizen]="citizen"></nrn-details>

    <div [hidden]="!displayEmployeeActions || request.status.name === 'accepted' || request.status.name === 'rejected'">        
        <h2> Actions </h2>
        <span [hidden]="request.assignee"> Pour effectuer une action, veuillez assigner la demande d'abord </span>
        <span *ngIf="request.assignee && request.assignee.id !== currentUser.id"> Cette demande est assignée à un(e) de vos collègues, vous ne pouvez pas effectuer d'action </span>

        <div class="form-group">
            <label for="comment"> Commentaire</label>
            <textarea [(ngModel)]="comment" class="form-control" id="comment" rows="3"></textarea>
        </div>


        <select class="custom-select" [(ngModel)]="selectedAction" [disabled]="! request.assignee || (request.assignee && request.assignee.id !== currentUser.id)">
            <option *ngFor="let action of possibleActions" [value]="action">{{ action | translate }}</option>
        </select>
        <div class="mt-4">
            <button class="btn btn-outline-primary" [disabled]="!selectedAction || !request.assignee || (request.assignee && request.assignee.id !== currentUser.id)" (click)="performAction()"> OK </button>
        </div>
    </div>
</div>