<div class="starter-template">
	<h1>Bienvenue</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante mauris, varius eget enim interdum, varius lacinia enim. Phasellus aliquam justo sem, facilisis interdum ex gravida a. Aliquam mollis nunc sed dui faucibus, quis mattis est ornare. Proin odio nisi, iaculis in nisi quis, consequat elementum eros. Quisque tempor urna eget sollicitudin egestas. Fusce in varius mauris, a suscipit enim. Praesent eu tincidunt velit, volutpat congue orci. Pellentesque a lacus dictum, molestie elit id, vehicula nulla. Quisque consequat dictum ligula sed bibendum. Aenean sit amet enim suscipit, tincidunt tortor a, viverra tortor. Aliquam faucibus aliquet lacus, et semper erat viverra eu. Aliquam sit amet turpis et neque maximus aliquet. Morbi luctus nec leo sed lobortis. Sed consequat ex sapien, vitae fermentum urna eleifend non. Curabitur sodales et leo at tincidunt.
	</p>
	<p>
		Nam aliquam, mauris sit amet sagittis tempus, risus nunc venenatis lorem, in rhoncus nisl ipsum sit amet massa. Suspendisse potenti. Sed nec velit ullamcorper, tristique est eu, dignissim turpis. Nunc congue vel risus ac sollicitudin. Fusce ac imperdiet nisl. Nullam at tempor sem. Sed placerat sapien ut lectus eleifend placerat. Maecenas at nisl vitae odio volutpat volutpat. Fusce ac nulla ultrices, porta lacus vitae, rutrum leo. Aenean varius gravida lorem, a vulputate ipsum scelerisque ac. Etiam vestibulum non ipsum id dignissim. Vivamus ut purus vel arcu ultrices semper id eu erat. Pellentesque molestie mollis turpis, sed tristique sem maximus vel. Nullam aliquam quam vitae commodo malesuada.
	</p>
	<p>
		Nullam volutpat ante a nisi pretium tempus. Nulla ac lorem eu tortor dignissim sagittis eu in neque. Phasellus nisi tortor, dapibus vel diam nec, malesuada imperdiet nibh. Maecenas cursus purus eu nisi tincidunt, eu maximus erat elementum. Ut sed viverra purus. Etiam non semper quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</p>
	<p>
		Donec laoreet nibh eget ante dignissim pellentesque. Phasellus finibus condimentum magna quis dictum. Maecenas placerat semper quam quis dictum. Mauris sed luctus tellus. Donec vehicula pharetra ligula sit amet scelerisque. Donec sapien mauris, tempus at ex ut, eleifend congue diam. In hac habitasse platea dictumst. Quisque pharetra vehicula convallis. Quisque eget pharetra tortor, at cursus tellus. Sed tempus sapien sed ipsum ultricies, bibendum congue neque fringilla. Suspendisse imperdiet felis in ligula luctus, interdum sagittis leo euismod. Nam molestie ipsum quis vestibulum maximus. Etiam diam mi, malesuada sed nisi a, blandit rutrum arcu.
	</p>
	<p>
		Aenean pretium faucibus est, ac tempus nisl sagittis eu. Mauris dui arcu, laoreet eu hendrerit at, convallis in purus. Nullam non purus eget lorem volutpat cursus cursus ac est. Vivamus in ante et neque porttitor gravida. Ut varius erat vitae eros cursus, sed dictum purus dictum. Integer lacus erat, mattis vitae arcu vitae, mattis accumsan purus. Proin vulputate ornare mauris non vehicula. Aliquam rhoncus ante erat, eu egestas justo sollicitudin vel. Aenean dapibus sapien nibh. Etiam blandit aliquam ante, a viverra sapien tincidunt ac. Phasellus ipsum ante, lacinia quis fermentum sed, eleifend a neque. Nulla facilisi. Vestibulum ac dapibus metus, id aliquet odio.
	</p>
	<!-- <p>
		<a routerLink="createuser">S'inscrire</a>
		<a routerLink="/login">Se connecter</a>
	</p> -->
</div>