<div class="starter-template">
	<h1>Bienvenue sur votre portail citoyen Hermes !</h1>
	<p>
    Via cette plateforme, vous avez la possiblité de récupérer des documents administratifs délivrables par votre commune et cela sans vous déplacer à la commune.
    Ce service est disponible pour tout citoyen ou société de Wallonie.
	</p>
	<p>
    Pour pouvoir bénéficier de ce service en ligne, commencez par vous créer un compte citoyen Hermes.
    Ceci fait, un employé devra valider vos informations et activer votre compte avant de pouvoir vous connecter .
  </p>
	<p>
    Une fois connecté vous aurez accès à vos demandes de documents ainsi qu'à vos entreprises.
  </p>
	<!-- <p>
		<a routerLink="createuser">S'inscrire</a>
		<a routerLink="/login">Se connecter</a>
	</p> -->
</div>
