<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container-fluid">
	<alert></alert>
	<a routerLink="/createuser">Create User</a>
	<a routerLink="/shownewcitizen">Show New Citizen</a>
	<br/>
	<router-outlet></router-outlet>
</div>
 -->
<alert></alert>
<ul class="nav nav-tabs">
	  <li class="nav-item"><a class="nav-link" routerLink="home">Accueil</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="createuser">S'inscrire</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="login">Se connecter</a></li>
</ul>
<!-- <nav class="navbar navbar-fixed-top bg-inverse">
    <div class="container">
        <a class="navbar-brand">Hermes</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"></li>
            <li class="nav-item"><a class="nav-link" routerLink="createuser">S'inscrire</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="shownewcitizen">Se connecter</a></li>
        </ul>
    </div>
</nav> -->

<router-outlet></router-outlet>
