<div class="col-md-6">
<!-- 	<head>
		<title> Inscription </title>
	</head> -->
<!-- 	<body> -->
		<h1>Inscription</h1>
		<label for="firstName">Prénom:</label>
		<input [(ngModel)]="people.firstName" placeholder="Prénom" name="firstName" class="form-control" id="firstName">
		<label for="lastName">Nom:</label>
		<input [(ngModel)]="people.lastName" placeholder="Nom" name="lastName" class="form-control" id="lastName">
		<button class="btn btn-success" (click)="createPeople()">Create</button>
<!-- 	</body> -->
</div>
