<div class="starter-template">
    <h1> {{'parkingCard' | translate}}<span *ngIf="isCompany">: {{company | translate}} {{authService.getCurrentCompany().companyName}}</span></h1>
    <h2>{{ (isUpdate ? 'updaterequest' : 'newrequest') | translate}}</h2>
    <h2>Informations demandeur</h2>
    <ul>
        <li> Nom : {{requestor.lastName}} </li>
        <li> Prénom : {{requestor.firstName}} </li>
        <li *ngIf="isCompany"> Société : {{ authService.getCurrentCompany().companyName }} </li>
    </ul>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="car_make">{{'carMake' | translate}}</label>
            <input type="text" class="form-control" id="car_make" formControlName="carMake">
        </div>
        <div class="form-group">
            <label for="car_model">{{'carModel' | translate}}</label>
            <input type="text" class="form-control" id="car_model" formControlName="carModel">
        </div>
        <div class="form-group">
            <label for="colour">{{'colour' | translate}}</label>
            <input type="text" class="form-control" id="colour" formControlName="colour">
        </div>
        <div class="form-group">
            <label for="car_registration_number">{{'carRegistrationNumber' | translate}}</label>
            <input type="text" class="form-control" id="car_registration_number" formControlName="carRegistrationNumber">
        </div>

        <div *ngIf="isCompany">
            <div class="form-group">
                <label for="car_contact_person">{{'carContactPersonEmail' | translate}}</label>
                <input type="email" class="form-control" id="car_contact_person" formControlName="carContactPersonEmail">
            </div>

            <div class="form-group">
                <label for="car_visitor_first_name">{{'carVisitorFirstName' | translate}}</label>
                <input type="text" class="form-control" id="car_visitor_first_name" formControlName="carVisitorFirstName">
            </div>

            <div class="form-group">
                <label for="car_visitor_last_name">{{'carVisitorLastName' | translate}}</label>
                <input type="text" class="form-control" id="car_visitor_last_name" formControlName="carVisitorLastName">
            </div>
        </div>

        <div class="form-group">
            <label for="insurance_certificate">{{'insuranceCertificate' | translate}}</label>
            <div *ngIf="isUpdate && hasFile(greenCardCode)">
                <!-- in update, manipulate already uploaded file -->
                <a href="javascript:;" (click)="download(greenCardCode)">Télécharger</a>
                <select class="custom-select" [(ngModel)]="actionGreenCardFile" name="actionGreenCard" class="form-control" [ngModelOptions]="{standalone: true}" required>
                        <option *ngFor="let action of actions" [value]="action"> {{action | translate}} </option>
                </select>
            </div>
            <div *ngIf="!isUpdate || !hasFile(greenCardCode) || actionGreenCardFile === 'replace'">
                <input type="file" id="insurance_certificate" (change)="onFileChange($event, 'insuranceCertificate')" #insuranceCertificateInput required>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="clearFile('insuranceCertificate')">clear file</button>
            </div>
        </div>

        <div class="form-group">
                <label for="user_proof">{{'carUserProof' | translate}}</label>
                <!-- in update, manipulate already uploaded file -->
                <div *ngIf="isUpdate && hasFile(userProofCode)">
                    <a href="javascript:;" (click)="download(userProofCode)">Télécharger</a>
                    <select class="custom-select" [(ngModel)]="actionUserProofFile" name="actionUserProof" class="form-control" [ngModelOptions]="{standalone: true}" required>
                            <option *ngFor="let action of actions" [value]="action"> {{action | translate}} </option>
                    </select>
                </div>
                <div *ngIf="!isUpdate || !hasFile(userProofCode) || actionUserProofFile === 'replace'">
                    <input type="file" id="car_user_proof" (change)="onFileChange($event, 'userProof')" #userProofInput>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="clearFile('userProof')">clear file</button>
                </div>
        </div>

        <!-- TODO include awsome font for spinner -->
        <div class="mt-2">
            <button type="submit" [disabled]="form.invalid || !insuranceFileLoaded || loading" class="btn btn-outline-success my-2 my-sm-0 float-right">Submit
                <span *ngIf="loading">
                    <i class="fa fa-spinner fa-spin fa-fw">Loading</i>
                </span>
            </button>
        </div>

    </form>
</div>
