<div class="starter-template">
	<h1>Mes sociétés</h1>
    <br>
    <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="currentCompany" (click)="disconnectFromCompany()">Se déconnecter de {{currentCompany.companyName}}</button>
	<table *ngIf="(mandataries$ | async)?.length; else noCompany" class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Connexion</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let mandatary of (mandataries$ | async)">
				<td>{{mandatary.company.companyName | translate}}</td>
				<td><button class="btn btn-outline-success my-2 my-sm-0" *ngIf="mandatary.company.status == 'active'" (click)="connectToCompany(mandatary.company)">Se connecter</button></td>
			</tr>
		</tbody>
    </table>
	<ng-template #noCompany>
		<div>Vous n'avez pas de sociétés associées </div>
    </ng-template>
</div>
