<div class="col-md-6">
	<h1>Connexion</h1>
	<label for="firstName">Utilisateur:</label>
	<input class="form-control" [(ngModel)]="username" placeholder="Nom d'utilisateur" name="user" class="form-control"  id="user">
	<label for="password">Mot de passe:</label>
	<input type="password" class="form-control" [(ngModel)]="password" placeholder="Votre mot de passe" name="password" id="password">
	<button class="btn btn-success" (click)="login()">Se connecter</button>
<!-- 	<button class="btn btn-success" (click)="logout()">Se déconnecter</button> -->
</div>
