<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common-head" />
<body th:inline="text">
<div th:replace="base :: base-message-header"></div>
<div th:object="${request}">
<p>
Suite à votre demande de carte de stationnement pour riverain ou visiteur acceptée, voici les informations nécessaires pour effectuer le paiement.
</p>
<p>
Montant à payer : [[${util.fee}]].
</p>
<p>
Destinataire : <br/>
[[${municipality.name}]] <br/>
[[${util.getAddressLine1(municipality.address)}]] <br/>
[[${util.getAddressLine2(municipality.address)}]]
</p>
<p>
Communication libre : [[${#strings.toString(request.userRef)}]]
</p>
<p>
Veuillez effectuer le versement pour le [[${util.paymentTerm}]] compris. Si ce n’est pas fait, la carte de stationnement sera invalidée dès le lendemain de l’échéance.
</p>
</div>
<div th:replace="base :: base-message-footer"> </div>
</body>
</html>