<div class="col-md-9 col-md-offset-3">
	<h1>{{'myrequests' | translate}}</h1>
	<div> ... Espace de recherche ici ...</div>
	<br>
	<br>
	<div class="container">
		<table *ngIf="(citizenRequests$ | async)?.length; else noRequests" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">{{'type' | translate}}</th>
					<th scope="col">{{'requestDate' | translate}}</th>
					<th scope="col">{{'status' | translate}}</th>
					<th scope="col">{{'actions' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let request of (citizenRequests$ | async)">
					<th scope="row">{{request.type | translate}}</th>
					<td>--</td> <!-- TODO -->
					<td>{{request.status | translate}}</td>
					<td>--</td>
				</tr>
			</tbody>
		</table>
		<ng-template #noRequests>
			<div>Vous n'avez pas encore introduit des demandes</div>
		</ng-template>

	</div>

</div>